div.calc#calculator
    section.calc-result
        span.calc-result-previous(data-type="calc-result-previous")
        span.calc-result-current(data-type="calc-result-current")
    section.calc-buttons
        span.calc-button %
        span.calc-button CE
        span.calc-button(data-type="calc-button-reset") C
        span.calc-button(data-type="calc-button-backspace") <
        span.calc-button(data-type="calc-button-operation") /
        span.calc-button √
        span.calc-button(data-type="numeric") 7
        span.calc-button(data-type="numeric") 8
        span.calc-button(data-type="numeric") 9
        span.calc-button(data-type="calc-button-operation") *
        span.calc-button &nbsp;
        span.calc-button(data-type="numeric") 4
        span.calc-button(data-type="numeric") 5
        span.calc-button(data-type="numeric") 6
        span.calc-button(data-type="calc-button-operation") -
        span.calc-button &nbsp;
        span.calc-button(data-type="numeric") 1
        span.calc-button(data-type="numeric") 2
        span.calc-button(data-type="numeric") 3
        span.calc-button(data-type="calc-button-operation") +
        span.calc-button &nbsp;
        span.calc-button ±
        span.calc-button(data-type="numeric") 0
        span.calc-button(data-type="numeric") .
        span.calc-button(data-type="calc-button-result") =